/* basic universal css */

body {
    background-color: rgb(20, 20, 20);
    color: rgb(10, 151, 233);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* nav bar css */

nav {
    display: inline-block;
}
li {
    display: inline;
}
li a {
    text-decoration: none;
    color: rgb(10, 151, 233);
    font-size: 20px;
    padding: 5px;
}
li a:hover {
    color: aliceblue;
    background-color: rgba(50, 159, 255, 0.425);
    border-radius: 20px;
}

/* image css */

#home-decal {
    z-index: -1;
    display: block;
    background-position: center;
    background-image: url(https://via.placeholder.com/2000x600?text=Decal);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: -10px;
    margin-right: -10px;
    width: 110%;
    height: 600px;
}
#event-decal-1 {
    margin: -10px;
}
#event-decal-2 {
    margin: -10px;
}
#event-desc-1 {
    z-index: 2;
    display: block;
}
#cast-pic {
    background-size: contain;
    width: 100%;
}