body {
    background-color: rgb(20, 20, 20);
    color: rgb(10, 151, 233);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav {
    display: inline-block;
}
li {
    display: inline;
}
li a {
    text-decoration: none;
    color: rgb(10, 151, 233);
    font-size: 20px;
    padding: 5px;
}
li a:hover {
    color: aliceblue;
}
#home-decal {
    z-index: -1;
    position: absolute;
    display: block;
    background-position: center;
    background-image: url(https://via.placeholder.com/2000x600?text=Decal);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: -10px;
    width: 100%;
    height: 600px;
}
#event-decal-1 {
    position: relative;
}
#event-decal-2 {

}
h1 {

}
p {

}